.App {
  
  text-align: center;
  background-color: rgb(243, 241, 239);
  width: 500px;
  margin: 0 auto;
  border: black 1px dashed;
}


.App-link {
  color: #09d3ac;
}

.Friendo {

  background-color: rgb(243, 241, 239);
  margin: 0 auto;
  width: 500px;
  border: black 1px dashed;
  
}

.appHeader {
 
  background-color: rgb(243, 241, 239);
  margin: 0 auto;
  width: 500px;
  border: black 1px dashed;


}

.friendForm {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}